<a href="https://colab.research.google.com/github/kelhob/-datasciencecoursera/blob/master/NBA_spread.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [3]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [4]:
import os
os.chdir('/content/drive/My Drive/data')
print(os.getcwd())

/content/drive/My Drive/data

In [5]:
path="/content/drive/My Drive/data/"


#connect to data

In [6]:
# prompt: read nba_games_all.csv from the mount drive to a data frame

nba_df = pd.read_csv(path + "nba_games_all.csv")

In [7]:
# prompt: read nba_games_all.csv from the mount drive to a data frame

nbaspread_df = pd.read_csv(path + "nba_betting_spread.csv")

In [ ]:
# need to figure out the logic of the join
# gameid equ

In [9]:
pip install pandasql

Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: numpy in /usr/local/lib/python3.11/dist-packages (from pandasql) (1.26.4)
Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (from pandasql) (2.2.2)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.11/dist-packages (from pandasql) (2.0.37)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas->pandasql) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas->pandasql) (2024.2)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy->pandasql) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy->pandasql) (4.12.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas->pandasql) (1.17.0)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py) ... done
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26772 sha256=ca8907bee185e1bd0398088e0b85799d00d4fb78c6c2da0d38f950f2355ec779
  Stored in directory: /root/.cache/pip/wheels/68/5d/a5/edc271b998f909801d7956959f699b976cc9896075dc47c153
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3

In [10]:
import pandasql as ps

In [ ]:
#q1 = """SELECT ID FROM df """

#print(ps.sqldf(q1, locals()))

In [12]:
q1= """ select games.*,
                  spread.spread1
                   from nba_df games
                  join nbaspread_df spread on games.game_id = spread.game_id
                  and games.team_id=spread.team_id
              where spread.book_id = 238
              and games.game_date>'1/1/1990'
              """
print(ps.sqldf(q1, locals()))

        game_id   game_date      matchup     team_id is_home wl     w     l  \
0      21000358  2010-12-13  DAL vs. MIL  1610612749       f  W  10.0  13.0
1      21000361  2010-12-14  NJN vs. PHI  1610612755       f  W   9.0  15.0
2      21000362  2010-12-14  WAS vs. LAL  1610612747       f  W  18.0   7.0
3      21000367  2010-12-15  IND vs. LAL  1610612747       f  W  19.0   7.0
4      21000372  2010-12-15  MEM vs. CHA  1610612766       f  L   9.0  16.0
...         ...         ...          ...         ...     ... ..   ...   ...
14889  21501139  2016-04-02  CHI vs. DET  1610612765       f  W  41.0  36.0
14890  21501150  2016-04-03  MIL vs. CHI  1610612741       f  W  39.0  38.0
14891  21501151  2016-04-03  NYK vs. IND  1610612754       f  W  41.0  36.0
14892  21501152  2016-04-03  GSW vs. POR  1610612757       f  L  41.0  37.0
14893  21501153  2016-04-03  LAL vs. BOS  1610612738       f  W  45.0  32.0

       w_pct  min  ...   stl  blk   tov    pf  pts   a_team_id  season_year  \
0      0.435  240  ...   7.0  3.0  11.0  23.0  103  1610612742         2010
1      0.375  240  ...   3.0  4.0  12.0  20.0   82  1610612751         2010
2      0.720  240  ...   7.0  3.0  10.0  19.0  103  1610612764         2010
3      0.731  240  ...   2.0  5.0   8.0  22.0  109  1610612754         2010
4      0.360  240  ...   7.0  7.0  20.0  20.0   80  1610612763         2010
...      ...  ...  ...   ...  ...   ...   ...  ...         ...          ...
14889  0.532  240  ...   8.0  2.0  10.0  16.0   94  1610612741         2015
14890  0.506  240  ...  10.0  4.0  11.0  16.0  102  1610612749         2015
14891  0.532  240  ...   5.0  3.0  16.0  18.0   92  1610612752         2015
14892  0.526  240  ...   8.0  4.0  13.0  16.0  111  1610612744         2015
14893  0.584  240  ...   8.0  1.0  12.0  25.0  107  1610612747         2015

          season_type   season  spread1
0      Regular Season  2010-11      7.5
1      Regular Season  2010-11     -1.5
2      Regular Season  2010-11    -10.5
3      Regular Season  2010-11     -3.5
4      Regular Season  2010-11      8.5
...               ...      ...      ...
14889  Regular Season  2015-16      3.0
14890  Regular Season  2015-16     -1.0
14891  Regular Season  2015-16     -7.0
14892  Regular Season  2015-16     11.5
14893  Regular Season  2015-16     -9.5

[14894 rows x 33 columns]

In [13]:
q2= """ select games.*,
                  spread.spread2
                   from nba_df games
                  join nbaspread_df spread on games.game_id = spread.game_id
                  and games.team_id=spread.a_team_id
              where spread.book_id = 238
              and games.game_date>'1/1/1990'
              """
print(ps.sqldf(q2, locals()))

        game_id   game_date    matchup     team_id is_home wl     w     l  \
0      21000358  2010-12-13  MIL @ DAL  1610612742       t  L  19.0   5.0
1      21000361  2010-12-14  PHI @ NJN  1610612751       t  L   6.0  19.0
2      21000362  2010-12-14  LAL @ WAS  1610612764       t  L   6.0  17.0
3      21000367  2010-12-15  LAL @ IND  1610612754       t  L  11.0  13.0
4      21000372  2010-12-15  CHA @ MEM  1610612763       t  W  12.0  14.0
...         ...         ...        ...         ...     ... ..   ...   ...
14889  21501139  2016-04-02  DET @ CHI  1610612741       t  L  38.0  38.0
14890  21501150  2016-04-03  CHI @ MIL  1610612749       t  L  32.0  45.0
14891  21501151  2016-04-03  IND @ NYK  1610612752       t  L  31.0  47.0
14892  21501152  2016-04-03  POR @ GSW  1610612744       t  W  69.0   8.0
14893  21501153  2016-04-03  BOS @ LAL  1610612747       t  L  16.0  60.0

       w_pct  min  ...   stl   blk   tov    pf  pts   a_team_id  season_year  \
0      0.792  240  ...   4.0   7.0  13.0  18.0   99  1610612749         2010
1      0.240  240  ...   6.0   5.0  11.0  18.0   77  1610612755         2010
2      0.261  240  ...   9.0   4.0  10.0  28.0   89  1610612747         2010
3      0.458  240  ...   3.0   6.0   6.0  16.0   94  1610612747         2010
4      0.462  240  ...  12.0   6.0  11.0  22.0  113  1610612766         2010
...      ...  ...  ...   ...   ...   ...   ...  ...         ...          ...
14889  0.500  240  ...   6.0  10.0  11.0  25.0   90  1610612765         2015
14890  0.416  240  ...   6.0   7.0  14.0  17.0   98  1610612741         2015
14891  0.397  240  ...   7.0   9.0  10.0  18.0   87  1610612754         2015
14892  0.896  240  ...   5.0   8.0  12.0  23.0  136  1610612757         2015
14893  0.211  240  ...   6.0   4.0  11.0  17.0  100  1610612738         2015

          season_type   season  spread2
0      Regular Season  2010-11     -7.5
1      Regular Season  2010-11      1.5
2      Regular Season  2010-11     10.5
3      Regular Season  2010-11      3.5
4      Regular Season  2010-11     -8.5
...               ...      ...      ...
14889  Regular Season  2015-16     -3.0
14890  Regular Season  2015-16      1.0
14891  Regular Season  2015-16      7.0
14892  Regular Season  2015-16    -11.5
14893  Regular Season  2015-16      9.5

[14894 rows x 33 columns]

In [14]:
# prompt: union q1 and q2

q1= """ select games.*,
                  spread.spread1
           from nba_df games
           inner join nbaspread_df spread
           on games.game_id = spread.game_id
           and games.team_id=spread.team_id
           where spread.book_id = 238
           and games.game_date>'1/1/1990'
           """
q1_df = ps.sqldf(q1, locals())

q2= """ select games.*,
                  spread.spread2
            from nba_df games
            inner join nbaspread_df spread
            on games.game_id = spread.game_id
            and games.team_id=spread.a_team_id
            where spread.book_id = 238
            and games.game_date>'1/1/1990'
            """
q2_df = ps.sqldf(q2, locals())

# Union the two dataframes
union_df = pd.concat([q1_df, q2_df], ignore_index=True)
union_df

,game_id,game_date,matchup,team_id,is_home,wl,w,l,w_pct,min,...,blk,tov,pf,pts,a_team_id,season_year,season_type,season,spread1,spread2
0,21000358,2010-12-13,DAL vs. MIL,1610612749,f,W,10.0,13.0,0.435,240,...,3.0,11.0,23.0,103,1610612742,2010,Regular Season,2010-11,7.5,NaN
1,21000361,2010-12-14,NJN vs. PHI,1610612755,f,W,9.0,15.0,0.375,240,...,4.0,12.0,20.0,82,1610612751,2010,Regular Season,2010-11,-1.5,NaN
2,21000362,2010-12-14,WAS vs. LAL,1610612747,f,W,18.0,7.0,0.720,240,...,3.0,10.0,19.0,103,1610612764,2010,Regular Season,2010-11,-10.5,NaN
3,21000367,2010-12-15,IND vs. LAL,1610612747,f,W,19.0,7.0,0.731,240,...,5.0,8.0,22.0,109,1610612754,2010,Regular Season,2010-11,-3.5,NaN
4,21000372,2010-12-15,MEM vs. CHA,1610612766,f,L,9.0,16.0,0.360,240,...,7.0,20.0,20.0,80,1610612763,2010,Regular Season,2010-11,8.5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29783,21501139,2016-04-02,DET @ CHI,1610612741,t,L,38.0,38.0,0.500,240,...,10.0,11.0,25.0,90,1610612765,2015,Regular Season,2015-16,NaN,-3.0
29784,21501150,2016-04-03,CHI @ MIL,1610612749,t,L,32.0,45.0,0.416,240,...,7.0,14.0,17.0,98,1610612741,2015,Regular Season,2015-16,NaN,1.0
29785,21501151,2016-04-03,IND @ NYK,1610612752,t,L,31.0,47.0,0.397,240,...,9.0,10.0,18.0,87,1610612754,2015,Regular Season,2015-16,NaN,7.0
29786,21501152,2016-04-03,POR @ GSW,1610612744,t,W,69.0,8.0,0.896,240,...,8.0,12.0,23.0,136,1610612757,2015,Regular Season,2015-16,NaN,-11.5
29787,21501153,2016-04-03,BOS @ LAL,1610612747,t,L,16.0,60.0,0.211,240,...,4.0,11.0,17.0,100,1610612738,2015,Regular Season,2015-16,NaN,9.5

In [15]:
# prompt: write union_df to a csv file in drive/myDrive/data folder

union_df.to_csv('/content/drive/My Drive/data/union_df.csv', index=False)